<!DOCTYPE html>
<html>
<head>
    <title>事件基础信息</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("event:baseventinfo:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("event:baseventinfo:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("event:baseventinfo:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">标题</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="basEventInfo.title" placeholder="标题"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">事件内容</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="basEventInfo.content" placeholder="事件内容"/>
                        </div>
                    </div>
            <div class="form-group">
            <div class="col-sm-2 control-label">事件类型 </div>
            <div class="col-sm-10">
            <input name="eventtype" type="radio" checked='checked' id="eventtypeone" value="1" v-model="basEventInfo.type" >
            <label for="eventtypeone">1保洁</label>
            <input name="eventtype" type="radio" id="eventtypetwo" value="2" v-model="basEventInfo.type">
            <label for="eventtypetwo">2保修</label>
            <input name="eventtype" type="radio" id="eventtypethree" value="3" v-model="basEventInfo.type">
            <label for="eventtypethree">3其他</label>
            </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">是否指派人员处理 </div>
                <div class="col-sm-10">
                    <input name="assign" type="radio" id="handlingYes" value=true v-model="assign" >
                    <label for="handlingYes">是</label>
                    <input name="assign" type="radio" checked='checked' id="handlingNo" value=false v-model="assign">
                    <label for="handlingNo">否</label>
                </div>
                <select v-show="{{assign}}" v-model="nextPerson">
                    <option disabled value="">请选择</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
            </div>
			<div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/event/baseventinfo.js?_${.now?long}"></script>
</body>
</html>